
// Color 

$color-white: white;
$color-black: black;

$color-primary-light:blue;
$color-primary-dark: green;

$color-green: rgb(178, 251, 178);

$color-yellow: rgb(236, 224, 56);

$color-peach:rgb(250, 136, 116);

